.details {
  width: 565px;
}

.details__item {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #48494D;
  padding-bottom: 8px;
  border-bottom: 1px solid #D7D9DF;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.details__name {
  color: #48494D;
  overflow: hidden;
  max-width: 45%;
}

.details__value {
  color: #000000;
  overflow: hidden;
  max-width: 45%;
}