.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow-y: hidden;
}

.modal {
  position: absolute;
  z-index: 100;
  top: calc(50vh - 415px/2);
  left: calc(50vw - 698px/2);
  width: 698px;
  padding: 30px 35px 35px 35px;
  background: #F5F5F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  > button {
    position: absolute;
    top: 25px;
    right: 25px;
  }
}

.modal__title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #48494D;
  margin-bottom: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fields-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-gap: 16px 28px;
  margin-bottom: 35px;
}

.form__field {
  &--name {
    position: relative;

    &::before {
      content: '*';
      position: absolute;
      top: 5px;
      left: 10px;
      color: #D12136;
    }
  }

  &--textarea {
    position: relative;
    grid-row: span 2;

    &::before {
      content: '*';
      position: absolute;
      top: 5px;
      left: 10px;
      color: #D12136;
    }
  }
}

.form__input {
  width: 300px;
  height: 50px;
  padding: 15px 25px;
  border: 1px solid rgba(72, 73, 77, 0.2);
  background: #FFFFFF;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #48494D;
  cursor: pointer;

  &:focus {
    border: 1px solid #FF0000;
    outline: none;
  }

  &:hover {
    border: 1px solid #48494D;
  }


  &--textarea {
    width: 300px;
    height: 118px;
    resize: none;
  }

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #48494D;
  }
}