.info {
  padding-left: 3px;
}

.info__header {
  margin-bottom: 30px;
}

.info__items {
  display: flex;
}

.info__item {
  display: block;
  padding: 10px 14px 11px 14px;
  border: 1px solid #d7d9df;
  min-width: 195px;
  text-align: center;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #48494D;
  overflow: hidden;
  max-width: 195px;

  &:hover,
  &--active {
    border: 1px solid #d12136;
    background: #d12136;
    color: #ffffff;
  }
}
