.main-footer {
  background-color: #f5f5f9;
}

.additional-site-navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-row-gap: 15px;
  padding: 25px 0 30px 6px;

  @media (max-width: 1199px) {
    grid-column-gap: 3vw;
  }

  @media (min-width: 1200px) {
    grid-column-gap: 64px;
  }
}

.additional-site-navigation__item {
  min-width: 65px;
  max-width: 218px;
}
