.main-header {
  background-color: #f5f5f9;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 14px;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 68px;
  padding-top: 16px;
  padding-bottom: 17px;
}
